body {
    background-color:#0c0c0c; 
    font-family:Sentinel SSm A,Sentinel SSm B,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-weight: 400;
    }
/* navbarsection */
  /* navbar section */
  a{
    text-decoration: none;
    outline: none;
    text-shadow: none;
  }
  .nav{
    height:35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:2px 5px;
    margin-bottom:10px;
    border: 1px solid rgba(226, 212, 212, 0.075) ;

    }
      
.Logo{
  color:white;
font-size:14px;
font-weight: 80;
padding:5px;
margin-right:20px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
border-radius:2px;
background-image: linear-gradient(45deg,#ee0979  ,#ff6a00 );
}

.navItem{
    cursor: pointer;
  color:white;
  float:left;
  font-size: 16px;
  font-weight: 80;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-right:20px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

  .navItem:before  {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #e7e4e4;
    height: 1px;
    -webkit-transition-property: left right;
    transition-property: left right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .navItem:hover:before {
    left: 0;
    right: 0;
  }
  .Active{
    cursor: pointer;
    color:white;
    float:left;
    font-size: 16px;
    font-weight: 80;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right:20px;
    border-bottom:1px solid white;
  }
/* navbarsection */
  .mainSection{
      margin:10px 0px;
     display: grid;
     grid-template-columns: 75% 25%;
     height:500px
 }
 .SummaryAboutSOftw{
     border: 1px solid white;
     margin-right:100px;
     color: white;
     display: grid;
     justify-items: center;
     align-items: center;
 }
 .sideBarSection{     
    border: 1px solid white;
    color: white;
    display: grid;
    justify-items: center;
    align-items: center;
 }
 .DeveloperInfoSection{
    border: 1px solid white;
    color: white;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 200px;
 }
 
  /* animation */
  @keyframes navAnimation {
    from {border-bottom: 5px solid red;}
    to {background-color:  5px solid rgb(217, 255, 0);;}
  }