/* //anchor tags */
.myanchor{
  color:rgb(8, 8, 8);
  text-decoration:none ;
}
.myanchor:hover{
  color:rgb(8, 8, 8);
  text-decoration: none;
}
.myanchorToggle{
  color: rgb(253, 253, 253);
  text-decoration: none;
}
.myanchorToggle:hover{
  color: rgb(253, 253, 253);
  text-decoration: none;

}
/* anchor tag */
button{
    cursor: pointer;
    background: transparent;
    outline: none !important;
    border:none;
    outline-style: none;
}
button:hover, button:focus {
  outline: none !important;
  border: none;
  text-decoration: none;
}
#Active{
  cursor: pointer;
  float:left;
  font-size: 16px;
  font-weight: 80;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-right:20px;
  border-bottom:1px solid rgba(240, 18, 18, 0.884);
}
#FileUpload{
    height:60px;
    font-size: larger;
    background: -webkit-linear-gradient(45deg,#ee0979,#ff6a00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#dropdown{
  display: flex;
  justify-content: center;
  align-items: center;
}
#dropdownButton{
  width: 100%;
  margin: 2%;
}
#main1{
  display:none;
}*
#inputPathCont{
    padding:0px;
    text-align: center;
    margin:2%;
    margin-bottom:5px;
    padding:2% 0%;
  }
input{
    outline-style: none;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#inputFile{
    width:350px;
    height:55px;
    border:none;
    padding:2px 2%;
    font-size: larger;
    box-shadow: 5px 0px 20px rgba(248, 247, 247, 0.144);
    outline-style: none;
    /* animation-name: animate2;
    animation-duration: 3s; */
    border-radius:3px;
    /* animation-timing-function: ease-out; */
}
#submitbtn{
    text-align: center;
    border:none;
    outline-style: none;
    font-size: larger;
    padding:15px 5px;
    border-radius:3px;
    animation-name: animate1;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}
@keyframes animate1{
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes animate2{
    from {opacity: 0}
    to {opacity: 1}
}

#Xcolumns{
  /* display:none; */
  color:white;
  text-align: center;
}
#Xcolumns {
  padding:2% 0px;
  width:150px;
  margin:2%;
  text-align: center;
  font-size: medium;
}
#Ycolumns{
  /* display:none; */
  color:white;
  text-align: center;
}
#Ycolumns {
  width:150px;
  padding:2% 0px;
  margin:2%;
  text-align: center;
  font-size: medium;
}
#nextbtn{
  
  border: 2px solid rgba(255, 255, 255, 0.938);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.404);
  background-color: #0c0c0c00;
  color:white;

}
/* body {background-color: powderblue;} */
.mainBODY {
  /* style="margin: 0px;padding: 10px;" */
  margin: 0px;
  padding: 10px; 
  background-color:#fcf4f4; 
  color: black;
  font-family:Sentinel SSm A,Sentinel SSm B,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-weight: 400;
 
  }
  .dark-mode {
    background-color: rgb(8, 2, 2);
    color: rgb(255, 255, 255);
  }
  /* navbar section */

  .nav{
    height:35px;
    display: flex;
    justify-content: space-between;
    margin-bottom:5px;
    border:1px solid rgba(0, 0, 0, 0.075) ;
    }
    .navLightMode{
      height:35px;
      display: flex;
      justify-content: space-between;
      margin-bottom:5px;
      border:1px solid rgba(199, 183, 183, 0.075) ;
      }
      
    .Logo{
      color: white;
    font-size:14px;
    font-weight: 80;
    padding:5px;
    margin-right:20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius:2px;
    background-image: linear-gradient(45deg,#ee0979  ,#ff6a00 );
    }
.navItem{
  cursor: pointer;
  float:left;
  font-size: 16px;
  font-weight: 80;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-right:20px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

  .navItem:before  {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #000000;
    height: 1px;
    -webkit-transition-property: left right;
    transition-property: left right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .navItem:hover:before {
    left: 0;
    right: 0;
  }
  .navItemDark{
    cursor: pointer;
  float:left;
  font-size: 16px;
  font-weight: 80;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-right:20px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.navItemDark:before  {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #e7e4e4;
  height: 1px;
  -webkit-transition-property: left right;
  transition-property: left right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.navItemDark:hover:before {
  left: 0;
  right: 0;
}
  .dashboard{
    cursor: pointer;
    float:left;
    font-size: 16px;
    font-weight: 80;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right:20px;
    border-bottom:1px solid white;
  }
#navItems{
  padding: 2px 5px;
  display:flex;
  justify-content: flex-start;
  align-items: center;
}
#themeToggle{
 padding:2px;
}
#toggleImg{
cursor: pointer;
}
/* navbar section */


/* sub navbar */
.subNav{
  margin-top:5px;
  height:35px;
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  padding:2px 5px;
  border: 1px solid rgba(0, 0, 0, 0.075) ;
}
.subNavDarkMode{
  margin-top:5px;
  height:35px;
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  padding:2px 5px;
  border: 1px solid rgba(202, 185, 185, 0.075) ;
}
/* sub navbar */
/* main body section */
.Container{
  margin:10px 0px;
  display: grid;
  grid-template-columns: 20% 80%;
  }
  .data-visualization-section{
    
    border:1px solid rgba(0, 0, 0, 0.075) ;

    
  }
  .data-visualization-section-darkMode{
    
    border: 1px solid rgba(226, 212, 212, 0.075) ;
    
  }
  .ChartsArea{
    color:black;
    display: grid;
    grid-template-columns: 50% 50%;
    /* border: 1px solid rgba(226, 212, 212, 0.075) ; */
  }
/* main body section */

/* chartsection */
.chartItem{
  height:380px;
  padding:2px;
  /* border: 1px solid rgba(226, 212, 212, 0.075); */
}

/* chart sectiom */
/* tableContainer */
.tableContainer{
  overflow-y:scroll;
height:280px;
}
/* tableContainer */
/* .App {
margin:0;
padding:0;
text-align: center;
color:rgba(255, 249, 249, 0.897);
padding:3%;
padding-top:5px;
} */
.FileUploadCont{
background-color:#0c0c0c00;
font-weight: 100;
font-size: 18px;
display: flex;
justify-content: center;
text-align: center;
margin: 5x;
} 
.headLine{
font-size: xx-large;
margin-bottom: 5px;
}

.TypeText{
border-style: none;
width:150px;
height:50px;
margin: 20px 0px;
color:white;
margin-right:10px;
outline-style: none;
border-radius:2px;
background-color: #0c0c0c;
border:0.5px solid rgb(255, 255, 255);
}
.TypeText:hover{
border:1px solid red;
}
.Display{
text-align: initial;
}
.TypeRadio{
width:20px;
height:20px;
text-align: center;
}
.Typecbox{
width:20px;
height:20px;
}
.childCont{  
display:grid;
grid-template-columns: 100%;
text-align: initial;
background-color:#0c0c0c;
border-radius: 10px;
padding:5px 10px;
}

#Submit{
background-color: #02000000;
color: red;
margin:0px;
cursor: pointer;

}
#buildCont{
  margin-top:35px;
  display: flex;
  align-items: center;
  flex-direction:row;
  font-size: larger;
  font-weight: 400;
}
#buildContChild{
  display: flex;
  align-items: center;
  flex-direction:row;
  font-size: larger;
  font-weight: 400;
  cursor: pointer;
  
  
}
.vizualize{
width:200px;
height:75px;
margin-top: 50px;
font-weight: 100;
font-size: 25px;
border: 2px solid rgba(255, 255, 255, 0.938);
border-radius: 5px;
box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.404);
background-color: #0c0c0c00;
color:white;
}
.FormContainer{
display: grid;
grid-template-columns: 33% 33% 33%;
}

.Text{
width:60%;
height:60px;
padding:2px;
border-style: none;
}
#viz{
display:none;
text-align:center;
}
#temp {
  margin:2%;
  padding:10px 25px;
  text-align: center;
  border:none;
  outline-style: none;
  background-color: rgba(247, 245, 242, 0);
  color:white;
  font-size: larger;
  border:1px solid rgba(172, 168, 168, 0.685);
}